@charset "UTF-8";

.rooter{
   --cor0:#02000D;
   --cor1:#030140;
}
body{
    background-color:rgb(43, 43, 93);
}
 aside{
    width: 500px;
    min-width: 300px;
    max-width: 1000px;
 }
main{
   
    height: 500px;
    width: 750px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 5px 5px 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}
article{
    background-color: black;
    color: white;
    height:500px;
    width:350px;
    border-radius: 20px 0px 0px 20px;
    min-width: 300px;
    max-width: 1000px;
}

div.pg{
    padding:2px ;
    margin-top: 2px ;
    min-width: 300px;
    max-width: 1000px;
}


div.pg{
    font-weight: bolder;
    font-size: 35px;
}

form.dp{
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
div.entrar{
    border: 3px solid white;
    border-radius: 35px;
    height: 37px;
    width: 138px;
    font-size: 25px;
    padding:2px ;
    margin: 2px;
 }
 h1.po{
    margin-top: 103px;
    font-size:30px;
    font-weight: bolder;
    font-family: sans-serif;
 }
 
 aside{
    display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
 }
 input.dive{
    margin-right: 57px;
    width: 300px;
    padding-top: 2px;
    padding: 2px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 69px;
    margin-right: 20px;
    border-radius: 20px;
 }
 input.dive2{
    margin-right: 57px;
    width: 300px;
    height: 25px;
    margin-right: 20px;
    border-radius: 20px;
 }
 input.dive3{
    margin-right: 57px;
    width: 300px;
    height: 25px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
 }
 
 input.dive4{
    margin-right: 57px;
    width: 187px;
    height: 38px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 20px;
 }
 li,a{
    text-decoration: none;
    border-radius: 50px;
    font-weight: bolder;
    text-align: center;
    color: black;
    height: 15px;
 }
 ul,li{
  list-style: none;
  padding :15px;
 }
 li{
    height: 15px;
    background-color: white;
}

li.wre{
    margin-bottom: 10px;
}

div.or{
    margin-left: 12px;
    margin-top: -22px;
}
img.img{
    height: 23px;
    width: 40px;
    margin-right: 182px;
}
div.apple{
    margin-top: -25px;
}

div.google{
    margin-top: -25px;
}
img.google{
    height: 23px;
    width: 28px;
    margin-right: 181px;   
}
input.telefone{
    margin-top:20px;
    margin-left: 27px;
    margin-bottom: 20px;
    width:235px ;
    height: 44px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid rgb(190, 188, 188);
    color: white;
}

li.proximo:hover{
    background-color: rgb(186, 185, 185);
}
li.esquecer{
    margin-top:20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-weight:bolder ;
    border: 1px solid rgb(190, 188, 188);
}
li.esquecer:hover{
    background-color: rgb(186, 185, 185);
    color: black;
}
h1.frt{
    margin-left: 20px;
}
